.modaljs {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modaljs.is-open {
  display: flex;
}

.modaljs-container {
  position: relative;
  min-width: 200px;
  max-width: 350px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #444444;
  padding: 1rem;
}

.modaljs-container img {
  border-radius: 25px;
}

.modaljs-container button {
  background-color: #a544ff;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.modaljs-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
